# Ignore node_modules and build artifacts
**/node_modules/
**/dist/
docs/.next

# Ignore lock files
**/package-lock.json
**/yarn.lock
library/src/Docs
# Ignore system files
.DS_Store
Thumbs.db


# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
