# Ignore node_modules and build artifacts
docs/node_modules/
docs/dist/
docs/.next
node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
# Ignore lock files
docs/package-lock.json
docs/yarn.lock
lip/Docs/.next
# Ignore system files
.DS_Store
Thumbs.db



